[run]
branch = True
data_file = ./reports/.coverage
command_line = -m pytest



[report]
format=text
skip_empty = True
show_missing = True
; fail_under = 100

[html]
directory = ./reports/coverage_html

